{% include "navbar.html" %}
{% load static %}
<h1 style="margin-left: 10px;"><a href="#" onclick="history.go(-1)"><img class="img-icon img-back" src="/static/img/back.png" width="30" height="30" alt="Volver"/></td></a>
Obras de {{ instance.nombre }} {{ instance.apellidos|default:"" }} ( {{ instance.alias }} )</h1>
{% if cuadros %}
{% for cuadros in cuadros %}
<div title="{{cuadros.observaciones}}" class="container obra-details">
<div class="left">
<img class="gz-img" onclick="window.open(this.src, '_blank','menubar=no');" src="{% if cuadros.anverso %}/media/{{ cuadros.anverso }}{% else %}/static/img/noimage.png{% endif %}" width="250">
</div>
<div class="right">
<b>Numero de inventario: </b>{{ cuadros.codigo|default:"" }}{{ cuadros.numinv }}</p>
<b>Título: </b>{{ cuadros.titulo }}
<b>Descripción: </b>{{ cuadros.descripcion|default:"NO DISPONIBLE" }}</p>
<b>Datación: </b>{{ cuadros.datacion|default:"DESCONOCIDA" }}</p>
</div>
</div>
<br />
{% endfor %}
{% else %}
<ul class="messages"><li><div class="alert alert-warning" role="alert">No se encontró ningún resultado</div></li></ul>
{% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{%static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
