{% include 'navbar.html' %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{%static '/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
<div class="container">
<div class="panel panel-info">
<div class="panel-heading">Bienvenido Restaurador de Arqueología</div>
<div class="panel-body">Hola, {{ user }}. Estas son sus últimas tareas realizadas.</div>
 </div>
<button type="button" class="button button1" data-toggle="collapse" data-target="#informes"> Mis últimas tareas <span class="caret"></span> </button>
<span style="font-size:20px">|</span>
<button type="button" class="button button1" onclick="exportar()"> Exportar informes de conservacion del año: </button>
<input id="year" type="number" min="0" max="9999" maxlength="4" style="width: 64px;" value="{% now 'Y' %}" onkeypress="return:false;" />
<div id="informes" class="collapse in">
<h1 style="margin-left: 0px;">Informes realizados</h1>
<table class="sortable index-table">
<tr>  
<th>Objeto</th> 
<th width="150px">Ver informe</th> 
<th width="200px">Editar informe</th> 
</tr>
<tr>
{% for ultimos in ultimosinfo.all %} 
<td><a href="/arqueologia/{{ ultimos.objeto.id }}/">{{ ultimos.objeto.codigo|default_if_none:"" }}{{ ultimos.objeto.numinv }} - {{ ultimos.objeto.arqueologia.nombre|default:"(?)" }}</a></td>    
<td><a href="/informearqueo_ver/{{ ultimos.id }}/"><img class="img-icon" src="/static/img/see.png" width="30" height="30" alt="Detalles"/></a> Ver informe</td>
<td><a href="/informearqueo_actu/{{ ultimos.id }}"><img class="img-icon" src="/static/img/edit.png" width="30" height="30" alt="Añadir intervención"/></a> Editar informe de estado</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
<script type="text/javascript">
  function exportar () {
     var year = document.getElementById('year').value;
     location.href = "/informearqueo_csv/"+year;
  }
</script>
</html>
