{% include "navbar.html" %}
{% load static %}
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
</head>
{% for datos in datos %}
<div class="container">
<h1 style="margin-left: 0px;"><a href="{% url 'detallearqueo' datos.pk %}"><img src="/static/img/back.png" width="30" height="30" alt="Atrás"/></td></a></a>
Informe de conservación de {{ datos.codigo|default:"" }}{{ datos.numinv }} - {{ datos.nombre|default:"(?)" }}</h1>
<br />
<table class="table">
<tr><th>Restaurador</th><td>{{ instance.nombre_res }} {{ instance.ape_res }}</td></tr> 
<tr><th>Proyecto de intervención</th><td>{{ instance.proyecto }}</td></tr> 
<tr><th>Diagnóstico</th><td>{{ instance.diagnostico }}</td></tr> 
<tr><th>Desarrollo</th><td>{{ instance.desarrollo }}</td></tr> 
<tr><th>Fecha del informe</th><td>{{ instance.fecha }}</td></tr> 
</table>
</div>
<div class="container">
<h2>Descripción del objeto</h2>
<table class="table" style="width: 42%; float: left;">
<tr><th>Número de inventario</th><td>{{ datos.codigo|default:"" }}{{ datos.numinv }}</td></tr> 
<tr><th>Nombre</th><td>{{ datos.nombre }}</td></tr> 
<tr><th>Cronología</th><td>{{ datos.datacion|default:"DESCONOCIDA" }}</td></tr> 
<tr><th>Composicion</th><td>
{% for material in datos.material.all %}
{{ material.nombre }}&nbsp;&nbsp;&nbsp;
{% endfor %}
</td></tr> 
<tr><th>Origen</th><td>{{ datos.yacimiento|default:"DESCONOCIDO" }}</td></tr> 
<tr><th>Tipología</th><td>{{ datos.seccion|default:"DESCONOCIDA" }}</td></tr> 
</table>
<center style="width: 56%; float: right;">
	<img class="gz-img" onclick="window.open(this.src, '_blank','menubar=no');" src="{% if datos.anverso %}{{ datos.anverso.url }}{% else %}/static/img/noimage.png{% endif %}" width="240px">
	<img class="gz-img" onclick="window.open(this.src, '_blank','menubar=no');" src="{% if datos.reverso %}{{ datos.reverso.url }}{% else %}/static/img/noimage.png{% endif %}" width="240px">
</center>
</div>
{% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
