{% include "navbar.html" %}
{% load static %}
{% load widget_tweaks %}
{% block headcontent %}
<html lang="es">
	<link rel="stylesheet" href="/static/css/style.css">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <form method="get">
{% endblock %}
<div class ="left">
<div class="col-5">
 <div class="form-group ">
     {{ filter.form.nombre.label_tag }}
     {% render_field filter.form.nombre class="form-control" %}
        </div>
<div class="checkbox">
     <div class="col-5">
          {{ filter.form.material.label_tag }}
          {% render_field filter.form.material class="form-control" %}
        </div>
        </div>
      <div class="col-5">
          {{ filter.form.seccion.label_tag }}
          {% render_field filter.form.seccion class="form-control" %}
          </div>
         <div class="col-5">
          {{ filter.form.serie.label_tag }}
          {% render_field filter.form.serie class="form-control" %}
        </div>
         <div class="col-5">
          {{ filter.form.depositado.label_tag }}
          {% render_field filter.form.depositado class="form-control" %}
          </div>
   <div class="col-5">
     <div class="form-group ">
         {{ filter.form.objeto.label_tag }}
         {% render_field filter.form.objeto class="form-control" %}
        </div>
        </div>
 </form>
 <br />
<button class="button button1"  class="btn btn-primary btn-md">Buscar</button></a></p>
      </div>
      </div>  
      </div>
      </div>
</div>
<div class="container">
<div class="right" style="height: 24px">
 <center style="color:red;">
  {% if filter.qs|length > 100 %}
   <p style="padding: 0; cursor: pointer;" class="alert">
    <button style="background: 0 0; border: 0;" data-dismiss="alert">
     Mostrando 100 elementos de {{ filter.qs|length }} resultados
    </button>
   </p>
  {% endif %}
 </center>
</div>
<div class="right" style="margin-left: 40%;overflow-y: auto;height: 500px;">
{% if filter.qs %}
<table class="sortable" width="100%">
  <tr>
    <th>Número de inventario</th>
    <th>Nombre del objeto</th>
  </tr>
  {% for objeto in filter.qs|slice:":100" %}{# Si no se limita, la página se ralentiza #}
  <tr>
    <td> {{ objeto.codigo|default_if_none:"" }}{{ objeto.numinv }} <a href="/arqueologia/{{ objeto.pk }}"><img class="img-icon" src="/static/img/see.png" width="30" height="30" alt="Detalles"/></a></td>
    <td>{{ objeto.nombre }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<ul class="messages"><li><div class="alert alert-warning" role="alert">No se encontró ningún resultado</div></li></ul>
{% endif %}
  </div>
  </div>
  </div>
  </div>
  </body>
<style>
#id_material, #id_seccion, #id_serie {
    width: 100% !important;
    float: none !important;
}
</style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{%static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</html>

